{% load i18n %}{% autoescape off %}

	<p>
		You're receiving this email because you requested a password reset for your user account at {{ site_name }}
	</p></br>

	<p>Please go to the following page and choose a new password:</p></<br>

		<a style ="color: green" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">CLICK HEAR TO RESET YOUR PASSWORD</a>

	<p>Your username, in case you've forgotten:{{ user.get_username }}</p>

	Thanks for using our site! 

	<p style="color: #008080">The {{ site_name }} team</p> 

{% endautoescape %}